In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn import preprocessing
import seaborn as sns

In [8]:
df1 = pd.read_csv('I:\Assigment - Data Science\SVM/SalaryData_Test(1).csv')

In [9]:
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [ ]:
df2 = pd.read_csv('I:\Assigment - Data Science\SVM/SalaryData_Train(1).csv')

In [ ]:
df2

In [ ]:
data = pd.concat([df1,df2])

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
sns.set_style(style= 'darkgrid')
sns.pairplot(data)

In [ ]:
##data = data.astype(str)

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['workclass']= label_encoder.fit_transform(data['workclass'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['education']= label_encoder.fit_transform(data['education'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['maritalstatus']= label_encoder.fit_transform(data['maritalstatus'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['occupation']=label_encoder.fit_transform(data['occupation'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['relationship']= label_encoder.fit_transform(data['relationship'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['race']= label_encoder.fit_transform(data['race'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['sex'] = label_encoder.fit_transform(data['sex'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['native'] = label_encoder.fit_transform(data['native'])

In [ ]:
label_encoder = preprocessing.LabelEncoder()
data['Salary'] = label_encoder.fit_transform(data['Salary'])

In [ ]:
data

In [ ]:
## Assining X and Y variable

In [ ]:
X = data.iloc[:,0:13]
Y = data.iloc[:,-1]

In [ ]:
X

In [ ]:
Y

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
Y_test

In [ ]:
Y_train

In [ ]:
## grid search CV

In [ ]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[1,5,10,50]}]
gsv = GridSearchCV(clf,param_grid,cv = 10)
gsv.fit(X_train,Y_train)

In [ ]:
gsv.best_params_

In [ ]:
gsv.best_score_

In [ ]:
cclf = SVC(C = 15,gamma = 50)
clf.fit(X_train,y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
print()